{% extends 'usuarios/base.html' %}
{% block conteudo %}
<title>Votação</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vote</title>
</head>
<body style="color: black;">
    <header>
        {% if nome == "Giuseph" %}
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
        <div class="container">
            <a class="btn btn-secondary ml-auto" href="/admin">Admin</a>
        </div>
    </nav>
    {% endif %}
    </header>
      <h1 style="position: fixed;bottom: 0;left: 0;margin: 10px;">Usuarios: {{ nome }}</h1>

      <div class="container">
        <legend><h3 class="text-center">Escolha uma opção:</h3></legend>
            <ul class="text-center">
                {% for question in questions %}
                    <li>
                        <a href="{% url 'app_cad_usuarios:vote' question_id=question.id %}" style="font-size: 120%;background-color: azure;color: black;display: block;padding: 10px;margin-bottom: 10px;border: 1px solid #ced4da;border-radius: 4px;text-decoration: none;">{{ question }}</a> 
                    </li>
                {% endfor %}
            </ul>
    </div>
</body>
{% endblock %}