{% extends 'usuarios/base.html' %}
{% block conteudo %}
<title>Exibindo tabela!</title>
      <div class="container">
        <h1>Usuarios cadastrados</h1>
          <table class="table table-bordered table-striped">
              <tr>
                  <th>nome</th>
                </tr>
                {% for usuario in usuarios %} 
                <tr>
                    <td>{{ usuario.nome }}</td>
                </tr>
                {% endfor %}
            </table>
        </div> 
{% endblock %}